html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif, serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* HEADER STYLES */

header {
  min-height: 50dvh;
  background-color: #1f2937;
}

nav {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

nav .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: underline;
}

.hero-container {
  min-height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  max-width: 600px;
}

.hero-info h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-info p {
  color: #e5e7eb;
  margin-bottom: 24px;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 8px;
}

.hero-img {
  max-width: 100%;
}

.hero-img img {
  height: 300px;
}

/* INFO SECTION STYLES */

.info-section {
  min-height: 50dvh;
}

.info-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px;
}

.info-section h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.box {
  text-align: center;
  width: 250px;
  font-weight: 300;
}

.box img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

/* Testimonial Section */

.testimonial-section {
  min-height: 50dvh;
  background-color: #e5e7eb;
  display: flex;
}

.testimonial-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.testimonial-section p {
  display: flex;
  flex-direction: column;
}

.testimonial-section em {
  font-size: 36px;
  font-weight: 300;
}

.testimonial-section strong {
  font-size: 24px;
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 3%;
}

/* Signup Section */

.signup-section {
  min-height: 30dvh;
  display: flex;
  align-items: center;
}

.signup-section .container {
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  color: #f9faf8;
  width: 100%;
  padding: 40px 50px;
  border-radius: 10px;
}

.signup-info h4 {
  font-size: 24px;
}

.btn.white {
  border: 3px solid #f9faf8;
}

/* Footer */

footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 25px;
  text-align: center;
}
